@media screen and (min-width: 1200px) {
  section {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .btn-primary {
    font-size: 1.5rem;
  }

  #activity-tiles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100% / 3 - 3 * 1rem);
    gap: 1rem;
  }

  .activity-tile {
    margin-bottom: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .activity-icon {
    display: block;
    font-size: 5rem;
    color: #333;
  }

  .bored-bg-img {
    background-image: url('../assets/img/bored-background-desktop.svg');
  }

  .happy-bg-img {
    background-image: url('../assets/img/happy-background-desktop.svg');
  }
}
