* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

main {
  min-height: 100vh;
  padding: 0 5%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

#main-section {
  min-height: 100vh;
  padding-bottom: 4rem;
  display: grid;
  grid-template-rows: 1fr 3fr auto;
}

#main-section > h1 {
  margin-top: 4rem;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 1.5rem;
}

button {
  margin: 0 auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-weight: 700;
}

.btn-primary {
  color: #4d4d4d;
  background-color: #f5e021;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #fdef71;
  transform: scale(1.02);
  color: #4d4d4d;
}

#activity-tiles-section {
  height: 100vh;
  padding: 4rem 5%;
  display: flex;
  flex-direction: column;
}

#activity-tiles-section > h1 {
  margin-bottom: 2rem;
}

#activity-tiles-container {
  flex-grow: 1;
  overflow: scroll;
}

.activity-tile {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
}

.activity-icon {
  display: none;
}

/* Theme classes */
.bored-bg {
  background-color: #c4ced3;
}

.bored-bg-img {
  background-image: url('../assets/img/bored-background.svg');
}

.bored-tiles-bg {
  background-color: #a9b4b9;
}

.bored-tiles-card {
  background-color: #9faaaf;
}

.bored-tiles-card:hover {
  background-color: #96a1a6;
  transform: scale(1.02);
}

.happy-bg {
  background-color: #addefa;
}

.happy-bg-img {
  background-image: url('../assets/img/happy-background.svg');
}

.happy-tiles-bg {
  background-color: #72cf5b;
}

.happy-tiles-card {
  background-color: #61b34c;
}

.happy-tiles-card:hover {
  background-color: rgb(135, 243, 108);
  transform: scale(1.02);
}
